@model ComputerBuilderMvcApp.Models.Component
<section class="single-item-view">

    @{
        ViewData["Title"] = Model?.Name ?? "Component Details";
    }

    @if (Model != null)
    {
        <h1 class="single-item-title">@Model.Name</h1>
        <hr />
        
        <div class="single-item-container">
            <div class="single-item-image-container">
                <img class="single-item-image" src="~/@Model.Image" alt="@Model.Name">
            </div>
            <div class="single-item-details">
                <div class="single-item-name">@Model.Name</div>
                <div class="single-item-price">
                    Price: $@(Model.PriceCents / 100m)
                </div>
                <p class="single-item-spec">@Model.Spec</p>
            </div>  
           <div class="single-item-actions">
                <form asp-controller="Cart" asp-action="AddSingleComponentToCart" method="post">
                    <input type="hidden" name="componentId" value="@Model.Id" />
                    <div class="input-group">
                        <label class="input-group-text" for="quantity-@Model.Id">Quantity</label>
                        <input type="number" name="quantity" id="quantity-@Model.Id" value="1" min="1" class="form-control" />
                    </div>
                    <button type="submit" class="single-item-add-to-cart-button">Add to Cart</button>
                </form>
                <a asp-action="Index" asp-route-category="all" class="single-item-back-button">Back to Components</a>
            </div>
        </div>
    }
    else
    {
        <h1 class="single-item-not-found-title">Component Not Found</h1>
        <p class="single-item-not-found-message">The component you are looking for could not be found.</p>
        <a asp-action="Index" class="btn btn-primary single-item-back-list-button">Back to Components List</a>
    }
</section>