@{
    ViewData["Title"] = "Components";
}

<h1>Available Components</h1>

<div>
    <h2>RAM</h2>
    <ul>
        @foreach (var ram in Model.RAMComponents)
        {
            <li>@ram.Spec - @ram.Price.ToString("C")</li>
        }
    </ul>
</div>

<div>
    <h2>CPUs</h2>
    <ul>
        @foreach (var cpu in Model.CPUComponents)
        {
            <li>@cpu.Spec - @cpu.Price.ToString("C")</li>
        }
    </ul>
</div>

<div>
    <h2>GPUs</h2>
    <ul>
        @foreach (var gpu in Model.GPUComponents)
        {
            <li>@gpu.Spec - @gpu.Price.ToString("C")</li>
        }
    </ul>
</div>

<div>
    <h2>Motherboards</h2>
    <ul>
        @foreach (var motherboard in Model.MotherboardComponents)
        {
            <li>@motherboard.Spec - @motherboard.Price.ToString("C")</li>
        }
    </ul>
</div>

<div>
    <h2>PSUs</h2>
    <ul>
        @foreach (var psu in Model.PSUComponents)
        {
            <li>@psu.Spec - @psu.Price.ToString("C")</li>
        }
    </ul>
</div>